<!DOCTYPE html>
<html>
<head>
  <title>
    JogLog
    <% if current_user %>
    <%=" - " + current_user.username%>
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Lato|Racing+Sans+One|Bitter' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

  <% if current_user %>
    <script>
      window.CURRENT_USERID = <%= current_user.id.to_i %>;
      window.CURRENT_USERNAME = "<%= current_user.username %>";
      window.CURRENT_USER_GENDER = "<%= current_user.gender %>";
    </script>
  <% end %>



</head>
<body>

<%= yield %>
<div class="errors">
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li>
        <div class="single-error"><%= error %></div>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

</body>
</html>
